/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

*{
  margin: 0px;
  padding:0px ;
  box-sizing:border-box; /* Sử dụng border-box thay vì content-box để bao gồm padding và border trong kích thước tổng thể của phần tử */
}.body{
  margin: auto;
  padding: auto;
}
.container{
  display:  flex;
  padding: 0;
  justify-content: space-between;
  
}
.App{
  width: 100%; 
  /* background-color: yellow; */
  padding: 0px;
  margin:0px;
  height: 100%;
}
main{
  width: 100%;
  margin-left: 20px;
  padding: 20px; /* Thêm padding để tạo không gian xung quanh nội dung trong main */
}
